
				<!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <section>
                            <h3>
                                交互可视化flask
                            </h3>
                            <p>
                                交互式可视化
                                <br />
                                更多内容请看 <a href="https://github.com/PL728329">阿海叉会儿腰</a>、
                                <a href="https://github.com/Xuyuran111">许钰然</a>和 <a href="https://github.com/lishanshan33">lishanshan33</a>
                            </p>
                        </section>
                        <section>
                            <h2>联系</h2>
                            <ul class="icons">
                                <li><a href="/" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="/" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                            </ul>
                        </section>
                        <ul class="copyright">
                            <li>&copy; CCA 3.0.</li>
                            <li>Design <a href="http://html5up.net">HTML5 UP</a></li>
                            <li>Coded by <a href="https://appseed.us">AppSeed</a></li>
                        </ul>
                    </div>
                </footer>


