
        <header>

            <h1>Flask——交互可视化</h1>

            <p>这是中山大学南方学院网络与新媒体专业，交互式数据可视化与python课程期末合作自我策展项目
			</p>

            <p>交互式数据可视化期末项目主题是受教育程度与总生育率、青春期生育率的关系</p>

			
				<ul>需要的数据主要来自以下两个网站：</ul>
                <li><a href="https://data.worldbank.org.cn/">世界银行</a></li>
                <li><a href="http://www.stats.gov.cn/">国家统计局</a></li>
				

        </header>

		<section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="/static/themes/phantom/images/pic01.jpg" 
					     alt="Image for link Read More about FlaskPlay, the open-source Flask Boilerplate." />
				</span>
				<a href='/jiaohu_1'>
					<h2>别的国家生的多吗？</h2>
                    <h4>功能查询一</h4>
					<div class="content">
						<p>各国1960年~2018年生育率趋势</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="/static/themes/phantom/images/pic02.jpg" alt="Image for link to Python.org." />
				</span>
				<a href="https://github.com/PL728329/final_interaction_data/blob/master/README.md">
					<h2>prd文档</h2>
					<div class="content">
						<p>可视化数据故事设计</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="/static/themes/phantom/images/pic03.jpg" alt="Image for link to Flask Microframework, the official website." />
				</span>
				<a href="/jiaohu_2">
					<h2>你的城市重视教育吗？</h2>
                    <h4>功能查询二</h4>
					<div class="content">
						<p>各省历年教育支出情况</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="/static/themes/phantom/images/pic05.jpg" alt="Image for link to FullStackPython.com." />
				</span>
				<a href="https://github.com/Xuyuran111/self-curator/blob/master/README.md">
					<h2>技术文档一</h2>
                    <h4>python一轮合作者</h4>
					<div class="content">
						<p>flask——python前后端交互可视化</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="/static/themes/phantom/images/pic06.jpg" alt="Image for link to tutorials provided by RealPython.com." />
				</span>
				<a href="/jiaohu">
					<h2>数据故事</h2>
					<div class="content">
						<p>探讨受教育程度和生育率的关系程度</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="/static/themes/phantom/images/pic07.jpg" alt="Image for link to Flask Mega Tutorial." />
				</span>
				<a href="https://github.com/lishanshan33/mypython/blob/master/README.md">
					<h2>技术文档二</h2>
                    <h4>python二轮合作者</h4>
					<div class="content">
						<p>flask——python前后端交互可视化</p>
					</div>
				</a>
			</article>


		</section>

